/* Header.css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .btn-cart {
    font-size: 0.9rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    background-color: white;
  }
  
  .btn-cart:hover {
    background-color: rgb(200, 171, 228)
  }
  
  .cart-count {
    font-size: 0.8rem;
    margin-left: 5px;
  }